html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #000;
}

body {
  padding: env(safe-area-inset-top)
           env(safe-area-inset-right)
           env(safe-area-inset-bottom)
           env(safe-area-inset-left);
}

body {
  font-family: Arial;
  background: #111;
  color: #fff;
  max-width:960px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: #e10600;
}

td, th {
  padding: 10px;
  text-align: left;
}

tr:hover {
  background: #222;
}