body {
  font-family: Arial;
  background: #111;
  color: #fff;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: #e10600;
}

td, th {
  padding: 10px;
  text-align: left;
}

tr:hover {
  background: #222;
}